﻿@model TestNet.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Delete Customer";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Delete Customer</h4>
    <hr />
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Do you like remove the customer</label>
                @Html.LabelForModel(Model.FirstName, new { htmlAttributes = new { @class = "control-label" } })
                @Html.LabelForModel(Model.LastName, new { htmlAttributes = new { @class = "control-label" } })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <input type="button" value="Cancel" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "Customer") + "'");" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
