﻿@{
    ViewBag.Title = "Customer";
}

<h4 class="title">Customer</h4>
<div class="well">
    <div class="form-inline">
        <input type="button" class="btn btn-primary" value="Create Customer" onclick="location.href='@Url.Action("Edit", "Customer")'" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_MVCGridToolbar", new TestNet.ViewModels.MVCGridToolbarModel()
        {
            MVCGridName = "Customers",
            PageSize = true,
            ColumnVisibility = false,
            Export = false,
            GlobalSearch = true
        })
        @Html.MVCGrid("Customers")
    </div>
</div>