﻿@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>

    @if (Model != null)
    {
        <div>
            <h2>
                @Model.Exception.Message  in @Model.ControllerName
            </h2>

        </div>
    }
</body>
</html>
